<div class="app-container">
  Offline Indicator (Always Visible)
  <app-offline-indicator></app-offline-indicator>

  <router-outlet></router-outlet>
</div>
<!-- <div class="center">
  <h1>Angular Coders</h1>
  <div class="extra-msg">
    <img
      [appImageSwap]="isWelcome"
      [ngClass]="{ 'small-image': isSmallImage, 'large-image': !isSmallImage }"
      src="../assets/welcome.gif"
      alt=""
    />
    <button class="btn btn-light" (click)="toggleImageSize()">
      Toggle Image Size
    </button>
    <p>
      <button class="btn btn-dark" (click)="changeImage()">Toggle Image</button>
    </p>
  </div>
</div> -->
